.snapshot {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: var(--secondary-1300, #f538a0);
}

.headerAction {
  color: var(--secondary-1300, #f538a0);
  background-color: var(--shades-00, #fff);
  width: 148px;
  height: 36px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--secondary-1300, #f538a0);
}

.summary {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.summaryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid var(--neutral-200, #e5e7eb);
  background: var(--shades-00, #fff);
  gap: 1rem;
  width: 17rem;
  height: 10rem;
}

.summaryItemValue {
  color: var(--primary-300, #f538a0);
  text-align: right;
  font-family: Assistant;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.table {
  width: 100%;
  text-align: right;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead {
  background: #e5e7eb;
}

.table th {
  padding: 1rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--neutral-700, #374151);
}

.table tr {
  border-bottom: 1px solid var(--neutral-200, #e5e7eb);
}

.table td {
  padding: 1rem;
  font-size: 14px;
  font-weight: 400;
  color: var(--neutral-700, #374151);
}

.newReports {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.newReport {
  border-radius: 15px;
  border: 1px solid var(--neutral-200, #e5e7eb);
  background: var(--shades-00, #fff);
}

.newReportContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
}

.newReportId {
  display: flex;
  padding: 1rem;
  background-color: #e5e7eb;
  width: 100%;
  height: 3rem;
}
