.main {
  font-family: "Assistant", sans-serif, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
